$desktop: 1440px;
$tablet: 768px;
$padding: 50px;
$inner-padding: 20px;

// Colors

$strong-cyan: hsl(172, 67%, 45%);
$very-dark-cyan: hsl(183, 100%, 15%);
$dark-grey-cyan-1: hsl(186, 14%, 43%);
$dark-grey-cyan-2: hsl(184, 14%, 56%);
$light-grey-cyan-1: hsl(185, 41%, 84%);
$light-grey-cyan-2: hsl(189, 41%, 97%);


@mixin desktop {
  @media screen and (min-width: $desktop) {
    @content;
  }
}

@mixin tablet {
  @media screen and (min-width: $tablet) {
    @content;
  }
}