* {
  margin: 0;
  padding: 0;
  font-family: "Space Mono";
  font-weight: bold;
  scrollbar-width: none;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-size: 24px;
  background: $light-grey-cyan-1;
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.section-heading {
  color: $dark-grey-cyan-2;
  padding-bottom: $inner-padding;
  font-size: 24px;
  font-weight: bold;
}

.button {
  border: none;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;
  font-weight: bold;

  &.dark {
    background: $very-dark-cyan;
    color: white;

    &:hover, &.active {
      @extend .light;
    }
  }

  &.light {
    background: $strong-cyan;
    color: $very-dark-cyan;

    &:hover, &.active {
      @extend .dark;
    }
  }
}